@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 216.04 98% 52%;
        --primary-foreground: 210 20% 98%;

        --secondary: 240 6% 90%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 240 4% 41%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0.01 72% 51%;
        --destructive-foreground: 210 20% 98%;

        --border: 240 6% 90%;
        --input: 0 0% 100%;
        --ring: 216.04 98% 52%;
        --radius: 0.75rem;
        --overlay: rgba(0, 0, 0, 0.2);

        --vis-tooltip-background-color: none !important;
        --vis-tooltip-border-color: none !important;
        --vis-tooltip-text-color: none !important;
        --vis-tooltip-shadow-color: none !important;
        --vis-tooltip-backdrop-filter: none !important;
        --vis-tooltip-padding: none !important;

        --vis-primary-color: var(--primary);
        /* change to any hsl value you want */
        --vis-secondary-color: 160 81% 40%;
        --vis-text-color: var(--muted-foreground);

        --vis-axis-tick-color: hsl(var(--vis-text-color)) !important;

        --success-bg: 143 85% 96%;
        --success-border: 145 92% 91%;
        --success-text: 140 100% 27%;
        --info-bg: 208 100% 97%;
        --info-border: 221 91% 91%;
        --info-text: 210 92% 45%;
        --warning-bg: 49 100% 97%;
        --warning-border: 49 91% 91%;
        --warning-text: 31 92% 45%;
        --error-bg: 359 100% 97%;
        --error-border: 359 100% 94%;
        --error-text: 360 100% 45%;
    }

    .dark {
        --background: 240 10% 3.92%;
        --foreground: 210 20% 98%;

        --card: 240.03 6% 6%;
        --card-foreground: 210 20% 98%;

        --popover: 240.03 6% 6%;
        --popover-foreground: 210 20% 98%;

        --primary: 216.04 98% 52%;
        --primary-foreground: 210 20% 98%;

        --secondary: 240.01 7.1% 15%;
        --secondary-foreground: 210 20% 98%;

        --muted: 240 6% 10%;
        --muted-foreground: 240 5.03% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0.01 72% 51%;
        --destructive-foreground: 210 20% 98%;

        --border: 240.01 7.1% 15%;
        --input: 240 10% 3.92%;

        --ring: 216.04 98% 52%;

        --overlay: 240.03 6% 6%;

        --success-bg: 150 100% 6%;
        --success-border: 147 100% 12%;
        --success-text: 150 86% 65%;
        --info-bg: 215 100% 6%;
        --info-border: 223 100% 12%;
        --info-text: 216 87% 65%;
        --warning-bg: 64 100% 6%;
        --warning-border: 60 100% 12%;
        --warning-text: 46 87% 65%;
        --error-bg: 358 76% 10%;
        --error-border: 357 89% 16%;
        --error-text: 358 100% 81%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
