@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

@theme static {
    --container-8xl: 90rem;
    --font-sans: 'Public Sans', sans-serif;

    --color-primary-500: #0d6cfd;
    --color-primary-400: #0d6cfd;
    --color-primary-600: #0d6cfd;
}

:root {
    --ui-container: var(--container-8xl);
}

.dark {
    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-900);
    --ui-bg-elevated: var(--ui-color-neutral-900);
    --ui-bg-accented: var(--ui-color-neutral-800);
}
